/* RESET BÀSICO CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
  }

  /* Cor do site */
:root {
    --primary-color: #001D3D;
    --secondary-color: #FFC300;
    --highlight: #FB8500; /* Destaque */
    --white: #f3f2f2;
    --black: #141414;
}

  body {
    font-style: none;
    text-decoration: none;
    background-color: var(--white);
  }


/* ********** Header/Navbar ********** */

/* Background */
.nav-bg {
  position: sticky;
  min-height: 70px;
  padding: 15px 0;
  background: var(--white);
  width: 100%;
  z-index: 100;
  transition: background 0.4s;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  }

  /* Nav LOGO */
  .nav-logo {
    margin-left: 60px;
  }

/* Links */
.navbar-nav .nav-item .nav-link {
    font-size: 1.5em;
    text-align: center;
    font-family: 'roboto', sans-serif;
    color: var(--primary-color) !important;
}
 
/* Links - Hover */
.navbar-nav .nav-item .nav-link:hover {
    color: var(--secondary-color) !important;
    transition: all 0.3s ease-in-out;
}

/* Links - Focus */
.navbar-nav .nav-item .nav-link:focus {
    transition: all 0.3s ease-in-out;
    color: var(--secondary-color) !important;
    font-weight: 600;
}

/* Menu Hamburguer */
.custom-toggler {
    margin-right: 60px;
    border: 2px solid var(--secondary-color) !important;
}

.custom-toggler:focus {
    background-color: var(--secondary-color);
    outline: none;
}

.burguer-color {
    color: var(--primary-color);
}


/* ********** About me Section ********** */

.about-me {
  position: relative;
  padding: 100px 50px;
  height: 100vh;
  color: var(--white);
  }
  
  .about-me::before {
    content: "";
    background: url("../images/about-me-background.jpg") center/cover no-repeat;
    filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
  }
  
  .about-me-content {
    position: relative;
    z-index: 1;
    color: var(--white)
  }
  .about-me-btn {
    font-weight: 600;
    min-width: 120px;
    min-height: 35px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  .about-me-btn:hover {
    background-color: #0d1b29;
  }
  .about-me-btn:focus {
    outline: none;
    border: none;
    
  }
  